<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fills</title>
</head>
<body>
    <h1>Fills</h1>
{% if filling_requirement_list %}
    <ul>
    {% for filling_requirement in filling_requirement_list %}
        <li><a href="{% url 'fills:get_requirement' filling_requirement.id %}" target="_blank">{{ filling_requirement.username }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No filling requirement are available.</p>
{% endif %}
</body>
</html>